* {
margin:0;
padding:0;
box-sizing:border-box;
}

html{
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: #1d2d3c;
    color: white;
}

.container{
    margin: 20px auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 20px
}

.diskCard{
    padding: 15px;
    flex-basis: calc(100% / 3 - 20px);
    text-align: center;
    background-color: #112030;
}

.diskCard figure,
.diskCard figure img{
    margin: auto;
    width: 80%;
    height: 300px;
}